*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background: #ffffff url("/./images/screens/vaporwavemountains.jpg");
}
.principal{
    background-color: white;
    max-width: 400px;
    width: 500%;
    padding: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h3{
    position: fixed;
    top: 60px;
    left: 150px;
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#esquerda{
    position: fixed;
    top: 10px;
    left: 15px;
}
#monarca{
    font-size: 20px;
    position: fixed;
    top: 25px;
    left: 125px;
}
#direita{
    position: fixed;
    top: 10px;
    right: 15px;
}
#b1{
    position: fixed;
    top: 125px;
}
#filmes{
    position: fixed;
    top: 120px;
    left: 155px;
    font-size: 20px;
}
#b2{
    position: fixed;
    top: 185px;
}
#usuario{
    position: fixed;
    top: 180px;
    left: 155px;
    font-size: 20px;
}
