*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background: #ffffff url("/./images/login/vapowavecar.jpg");
}
form{
    background-color: white;
    max-width: 400px;
    width: 500%;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form h3{
    text-align: center;
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
#novo{
    margin-left: 0px;
}
#senha{
    margin-left: 215px;
}
form button{
    color: white;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: darkblue;
    border: 0;
    border-radius: 20px;
}
form button:hover{
    background-color: rgb(0, 0, 117); 
}
form input[type=text],
form input[type=password]:focus{
    outline: 0;
}

#botaoLogar{
    color: gray;
}
