@font-face {
    font-family: "EBG";
    src: url(/fonts/EBGaramond-Regular.ttf);
}
@font-face {
    font-family: "Kalam";
    src: url(/fonts/Kalam-Regular.ttf);
}
@font-face {
    font-family: "Dancing";
    src: url(/fonts/DancingScript-VariableFont_wght.ttf);
}
*{margin: 0; padding: 0; box-sizing: border-box}

body{
    background-image: url("/./images/screens/vaporwavemountains.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:black;
}
.principal{
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
    max-width: 400px;
    width: 500%;
    padding: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h3{
    position: fixed;
    top: 60px;
    left: 145px;
    color: purple;
    font-family: "EBG";
}
#esquerda{
    position: fixed;
    top: 10px;
    left: 15px;
}
#monarca{
    font-size: 25px;
    position: fixed;
    top: 25px;
    left: 120px;
    font-family: "Dancing";
}
#direita{
    position: fixed;
    top: 10px;
    right: 15px;
}
#b1{
    position: fixed;
    top: 105px;
}
#cadastros{
    font-size: 20px;
    position: fixed;
    top: 100px;
    left: 155px;
}
#b2{
    position: fixed;
    top: 135px;
}
#locacao{
    font-size: 20px;
    position: fixed;
    top: 130px;
    left: 155px;
}
#b3{
    position: fixed;
    top: 165px;
}
#devolucao{
    font-size: 20px;
    position: fixed;
    top: 160px;
    left: 155px;
}
#b4{
    position: fixed;
    top: 195px;
}
#acervo{
    font-size: 20px;
    position: fixed;
    top: 190px;
    left: 155px;
}
#b5{
    position: fixed;
    top: 225px;
}
#sobre{
    font-size: 20px;
    position: fixed;
    top: 220px;
    left: 155px;
}
